body{
	height: 100%
}

#row {
	position: relative:
	min-height: 100%;
	}

table { 
    border-collapse: collapse;
}

td {
    vertical-align: top;
}

th {
	vertical-align: bottom;
}

ul {list-style-type: none;
	padding: 0;
	margin: 0;
	vertical-align: top;}

	



h3 {max-width:200px;}


@media (min-width: 768px){
	#sidebar {
		float:right;
		position: relative;
	}	
	
	#blogposts{
		display: inline;
		}
	}