body {margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#titleline { display: inline;
	float: left;
	}
ul.topnav li {float: right;}

ul.topnav li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  transition: 0.3s;
}


ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
	}

  ul.topnav.responsive {
	position: relative;
	}
	
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
	}
  
  ul.topnav.responsive li {
    float: none;
    display: block;
	}
  
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
	}
	.img-circle.avatar {
		margin: auto;
		display: block;
	}
	#titleline {
		display: inline;
		float:none;
		}
}