---
layout: default
title: Turning Data into Decisions - Home
resume: passive
projects: passive
blog: passive
moocs: passive
contact: passive
description: "Introduction to Ryan Kuhn. Here you will find information on his training and recent projects with data analytics."
---

<div class ="comtainer">
<!-- <div class="jumbotron"> -->
<div class="row marketing">
	<div class="col-sm-4 col-xs-3" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
		<img class="img-circle img-responsive avatar center-block" alt="Ryan Kuhn" src="images/headshot.jpg">
		<meta itemprop="url" content="images/headshot.jpg">
		<br>
	</div>
	<div itemscope itemtype="http://schema.org/Person" class="col-sm-8 col-xs-12">
	<p class="lead">Hi, I'm <span itemprop="name">Ryan Kuhn</span> and I turn data into decisions.</p>
	
	<p>I have been turning data into insights that drive business decisions for the past 8 years. I'm currently working in Financial Planning & Analysis at <a href="http://www.sargento.com" target="_blank"> Sargento</a> where I provide forecasting variance anlysis for the logistics function.  Previously, I built financial models while supporting a sales team and data analytics to reduce audit risks. In my free time, I work to expand my skills in analytics such as financial modeling, machine learning and data visualization.</p>

	<p>I'm available for hire as a freelance <span itemprop="jobTitle">financial modeler</span>. <a href="contact">Drop me a line</a> about your project if you're interested in working with me.</p>
	</div>
</div>
</div>
<hr style="margin-bottom: 0">
<div class="row">
  <div class="col-xs-12 text-center">
    <h4><a target="_blank" href="Ryan Kuhn Resume-2018-Finance v2.pdf">Download full resume</a></h4>
  </div>
</div> 
<hr style="margin-top: 0">
<div class="container">
  <div class="row">
    <h2>Experience</h2>
  </div>

  <div class= "row">
    <div class="col-md-4">
      <h4>Northrop Grumman</h4>
      Nov 2018-Oct 2019
    </div>
    <div class="col-md-8"><h4> Senior Program Control Analyst, International Ground Based Radars</h4> 
     I am responsible for forecasting, variance analysis and reporting the consolidated results to business unit leadership. I created the monthly reporting packages and the forecasting models for 3 seperate programs.
    </div>
  </div> <!--  end row -->

  <div class= "row">
    <div class="col-md-4">
      <h4>Ortho Clinical Diagnostics</h4>
      Aug 2016 –  Nov 2018
    </div>
    <div class="col-md-8">
     <h4>Senior Financial Analyst, Operations Strategy and Consolidations</h4> 
     Ortho is a medical device and clinical lab test manufacturer where I worked in Operations Finance.  I managed the monthly close reporting process and consolidated results for the Finance Leadership Team (FLT). I was recognized for developing a robust yet flexible model for the 5-year strategic plan.
    </div>
  </div> <!--  end row -->

  <div class="row">
    <div class="col-md-4">
      <h4>Quest Diagnostics Inc</h4>
      Nov 2013-Aug 2016
    </div>
    <div class="col-md-8">
      <h4>Senior Financial Analyst, Health Plan Pricing</h4>
      I prepared financial models to evaluate pricing decisions in negotiations with large health plans ranging in value from $5M– $30M+. I worked with the sales execs to develop a pricing approach to optimize revenue and then presented the results of the analysis to senior management.
    </div>
  </div> <!-- end row -->
    <div class="row">
    <div class="col-md-4">
      <!-- placeholder -->
    </div>
    <div class="col-md-8">
      <h4>Senior Auditor, Internal Audit</h4>
      Supervised a four-person team performing operational audits. I developed the audit plans based on risk assesments, assigned the roles to team members, and then managed the audit to completion.
    </div>
  </div> <!-- end row -->
    <div class="row">
    <div class="col-md-4">
      <h4>Defense Contract Audit Agency (DCAA)</h4>
      Aug 2010-Nov 2013
    </div>
    <div class="col-md-8">
      <h4>Senior Auditor</h4>
     Led and supervised operational audits for compliance with Federal Acquisition Regulations (FAR), Cost Accounting Standards (CAS), and the Truth In Negotiations Act (TINA). I developed the audit plan, assigned sections to a team of four auditors, and then reviewed work to ensure testing was complete and documentation of high quality.
    </div>
  </div> <!-- end row -->
</div> <!-- end experience container -->


<hr>


<div class="container">
  <div class="row">
    <h2>Education & Certifications</h2>
  </div>
  <div class= "row">
    <div class="col-md-4">
      <h4>Rutgers University</h4>
      Jun 2014-Jan 2016
    </div>
    <div class="col-md-8"> 
    <h4>Masters in Professional Accountancy</h4> 
    The eduction was mainly in the application of accouting theory to operate at a high level of professionalism but I also learned about audit analytics.  Here I was introduced to R and how cutting edge machine learning was being applied in the field.
    </div>
  </div> <!--  end row -->
  <div class= "row">
    <div class="col-md-4">
      <h4>University of Wisconsin- Whitewater</h4>
      Sep 2008-Aug 2010
    </div>
    <div class="col-md-8"> 
    <h4>Bachelor in Business Administration (Accounting)</h4> 
    Graduated Summa Cum Laude after 4 years of developing technical expertise in accounting.  My interest in business systems led me to build an accounting system in Acccess.  I also focused on cost accounting to prepare for the CMA exams.
    </div>
  </div> <!--  end row -->  
  <div class= "row">
    <div class="col-md-4">
      <h4>Certified Public Accountant (CPA)</h4>
      Sep 2013
    </div>
    <div class="col-md-8"> 
      <h4>State of New Jersey</h4> 
    </div>
  </div> <!--  end row -->  
  <div class= "row">
    <div class="col-md-4">
      <h4>Certified Management Accountant (CMA)</h4>
      Aug 2012
    </div>
    <div class="col-md-8">
      <h4>Institute of Management Accountants (IMA)</h4> 
    </div>
  </div> <!--  end row -->  
</div> <!-- end  education container -->

<hr>
<div class="container">
  <div class="row">
    <h2>Military</h2>
  </div>
  <div class= "row">
    <div class="col-md-4">
      <h4>US Marine Corps</h4>
      Jun 2002-Jul 2011
    </div>
    <div class="col-md-8"> 
    <h4>Infantry Squad Leader</h4> 
    Led 12-man squad in combat operations. Developed junior Marines by instructing in the technical aspects of infantry field, including navigation, communication equipment, and first aid to prepare for deployments and assume future leadership roles.
    </div>
  </div> <!--  end row -->
</div> <!-- end  military container -->


<hr>


<div class="container">
  <div class="row">
    <h2>Abilities</h2>
    {% assign my_abil = (site.data.abilities | sort:'score' | reverse) %}
    {% capture sz %}{{my_abil.size}}{% endcapture %}
    {% capture halfsz %}{{ sz | divided_by: 2 }}{% endcapture %}
    <div class="col-md-6">
      <ul class="list-unstyled">
        {% for abil in my_abil limit: halfsz %}
        <li>
          <span>{{ abil.name }}</span>
          <span class="score">
          {% capture reps %}{{abil.score}}{% endcapture %}{% capture exreps %}{{  5 | minus: reps}}{% endcapture %}
          {% for num in (1..reps ) %}<i class="fas fa-star"></i>{% endfor %}{% for num in (1..exreps) %}<i class="far fa-star"></i>{% endfor %}
          </span>
        </li>
        {% endfor %}
      </ul> 
    </div>
    <div class="col-md-6">
      <ul class="list-unstyled">
        {% for abil in my_abil offset: halfsz %}     
        <li>
          <span>{{ abil.name }}</span>
          <span class="score">
          {% capture reps %}{{abil.score}}{% endcapture %}{% capture exreps %}{{  5 | minus: reps}}{% endcapture %}
          {% for num in (1..reps ) %}<i class="fas fa-star"></i>{% endfor %}{% for num in (1..exreps) %}<i class="far fa-star"></i>{% endfor %}
          </span>
        </li>
        {% endfor %} 
      </ul>
    </div>    
  </div> <!--  end row -->
</div> <!-- end  abilities container -->


<hr>


<div class="container">
  <div class="row">
    <h2>Tools</h2>
  </div>
  <div class= "row"> 
    {% assign my_tools = (site.data.tools | sort:'score' | reverse) %}
    {% capture sz %}{{my_tools.size}}{% endcapture %}
    {% capture halfsz %}{{ sz | divided_by: 2 }}{% endcapture %}
    <div class="col-md-6">
      <ul class="list-unstyled">
        {% for tool in my_tools limit: halfsz %}      
        <li>
          <span>{{ tool.name }}</span>
          <span class="score">
          {% capture reps %}{{tool.score}}{% endcapture %}{% capture exreps %}{{  5 | minus: reps}}{% endcapture %}
          {% for num in (1..reps ) %}<i class="fas fa-star"></i>{% endfor %}{% for num in (1..exreps) %}<i class="far fa-star"></i>{% endfor %}
          </span>
        </li>
        {% endfor %} 
      </ul>
    </div>    
    <div class="col-md-6">
      <ul class="list-unstyled">
        {% for tool in my_tools offset: halfsz %}      
        <li>
          <span>{{ tool.name }}</span>
          <span class="score">
          {% capture reps %}{{tool.score}}{% endcapture %}{% capture exreps %}{{  5 | minus: reps}}{% endcapture %}
          {% for num in (1..reps ) %}<i class="fas fa-star"></i>{% endfor %}{% for num in (1..exreps) %}<i class="far fa-star"></i>{% endfor %}
          </span>
        </li>
        {% endfor %} 
      </ul>
    </div>    
  </div> <!--  end row -->
</div> <!-- end  tools container -->

<hr>

<div>
<h2> Contact</h2>
  <p>You can get in touch with me on social media:</p>    
  <div style="text-align:center">
    <ul class="list-inline">
      <li><a href="http://www.linkedin.com/in/rlkuhn/"><i class="fab fa-linkedin fa-2x"></i></a></li> 
      <li><a href="http://github.com/kuhnrl30"><i class="fab fa-github-square fa-2x"></i>  </a></li>
      <li><a href="http://www.twitter.com/RyanKuhnCPA"><i class="fab fa-twitter-square fa-2x"></i></a><li>
      <li><a href="https://www.facebook.com/ryan.kuhn.167"><i class="fab fa-facebook-square fa-2x"></i></a><li>
      <li><a href="mailto:kuhnrl30@gmail.com"><i class="fa fa-envelope fa-2x"></i> </a></li>  
    </ul>
  </div>
</div> <!-- end contact container -->


																																													