<!------------------- Twitter cards ------------------------------->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@RyanKuhnCPA">
<meta name="twitter:creator" content="@RyanKuhnCPA">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:creator" content="@RyanKuhnCPA">


{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}

{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}




<!------------------ Open Graph ------------------------------------------> 
<meta property="og:type" content="blog" />
{% if page.title %}
	<meta property="og:title" content="{{ page.title }}" />
{% else %}
	<meta property="og:title" content="{{ site.title }}" />
{% endif %}

{% if page.desc %}
	<meta property="og:description" content="{{ page.desc }}" />
{% endif %}

{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}

{% if page.url %}
  <meta content="{{ page.url }}" property="og:url">
{% endif %}