<!------------------- Twitter cards ------------------------------->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@RyanKuhnCPA">
<meta name="twitter:creator" content="@RyanKuhnCPA">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:creator" content="@RyanKuhnCPA">

{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}

{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}



<!------------------- google search results ------------------------------->
<div itemscope itemtype="http://schema.org/Article" lang="en">
<meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
<meta itemprop="author publisher" content="Ryan Kuhn" itemtype="http://schema.org/Person"/>
<meta itemprop="mainEntityofPage" content="http://ryankuhn.net/blog/">
<meta itemprop="datePublished dateModified" content="{{post.date | date: '%Y-%m-%d'}}">



<!------------------ Open Graph ------------------------------------------> 
<meta property="og:type" content="blog" />
{% if page.title %}
	<meta property="og:title" content="{{ page.title }}" />
{% else %}
	<meta property="og:title" content="{{ site.title }}" />
{% endif %}

{% if page.desc %}
	<meta property="og:description" content="{{ page.desc }}" />
{% endif %}

{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}
