<div class="container">
 <header class="navbar navbar-static-top" id="top">
  <div class="navbar-header">
   <button aria-controls="myTopnav" aria-expanded="false" class="navbar-toggle collapsed" data-target="#myTopnav" data-toggle="collapse" type="button"> 
    <span class="sr-only">Toggle navigation</span> 
    <span class="icon-bar"></span> 
    <span class="icon-bar"></span> 
    <span class="icon-bar"></span> 
   </button>
   <h3 id="titleline" class="text-muted"><a href="/">Ryan L. Kuhn, CPA</a></h3>
  </div>

 
   <nav class="navbar-collapse collapse pull-right d-block" id="myTopnav" aria-expanded="false">
    <ul class="nav navbar-nav col-centered">
     <li><a href="/resume" title="Resume">Resume</a></li>
     <li><a href="/projects" title="Projects">Projects</a></li>
     <li><a href="/blog" title="Blog">Blog</a></li>
     <li><a href="/moocs" title="MOOCS">Moocs</a></li>
     <li><a href="/contact" title="Contact">Contact</a></li>
    </ul>
   </nav>
 </div>
</header>
 </div>
<!-- /header -->