<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="description" content="{{ page.description }}">
 <meta name="author" content="Ryan Kuhn">
 <title>{{ page.title }}</title>
 
 <!-- styles -->
 <link href="/css/journal.css" rel="stylesheet">
 <link href="/css/jumbotron-narrow.css" rel="stylesheet">
 <script src="/css/jquery-2.1.4.min.js"></script> 
 <script src="/css/bootstrap.min.js"></script> 
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
 <link href="/css/main.css" rel="stylesheet">
 <link rel="icon" href="/images/favicon.png">
 
{% include _social.html %} 
 
</head>
