---
layout: default
---

<html itemscope itemtype="http://schema.org/Blog" lang="en">

{% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}Posted with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
    {% assign tag = site.data.tags[post_tag] %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}	
{% else %}
    {% assign tags_content = '' %}
{% endif %}




<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
  
  <p id="post-meta">{{ tags_content }}</p>
  
  {% include _social.html %}
  {% include comments.html %}
</div>
